body {
    font-family: 'NanumSquare', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: #FFFFFF;
  }

  .normal		{ font-weight: 400 }
  .bold		    { font-weight: 700 }
  .bolder		{ font-weight: 800 }
  .light		{ font-weight: 300 }

  .text01 {
    font-size: 1.0rem;
    font-weight: 700;
    color: red;
  }

  /* 글자크기 일반 */

h1 {
    font-size: 2.2rem;
    font-weight: 900;
  }

h2 {
    font-size: 1.8rem;
  }
  
  h3 {
    font-size: 1.6rem;
  }
  
  h4 {
    font-size: 1.4rem;
  }
  
  h5 {
    font-size: 1.2rem;
  }
  
  h6 {
    font-size: 1.0rem;
  }
  
  /* 767px 이하 */
  @media screen and (max-width: 767px) {
    h1 {
        font-size: 2rem;
        font-weight: 900;
      }
    
    h2 {
      font-size: 1.8rem;
    }
  
    h3 {
      font-size: 1.6rem;
    }
  
    h4 {
      font-size: 1.4rem;
    }
  
    h5 {
      font-size: 1.2rem;
    }
  
    h6 {
      font-size: 1rem;
    }
  }
  
  /* 479px 이하 */
  @media screen and (max-width: 479px) {
    
    h1 {
        font-size: 1.8rem;
        font-weight: 900;
      }
    
    h2 {
      font-size: 1.4rem;
    }
  
    h3 {
      font-size: 1.2rem;
    }
  
    h4 {
      font-size: 1.0rem;
    }
  
    h5 {
      font-size: 0.8rem;
    }
  
    h6 {
      font-size: 0.6rem;
    }
  }

  @media screen and (max-width: 768px) {
    .col-2,
    .col-3 {
      flex-direction: column;
    }
  
  }


.li {
    font-size: 1.3rem;
}

.total-output {
  display: inline;
  font-size: 1.4rem;
  font-weight: 700;
}

.report-data-time-output {
  display: inline;
  font-size: 1.0rem;
}

#classlist {
    font-size: 1.6rem;
  }

.container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    max-width: 1200px;
    text-align: center;
    height: 98%;
    gap: 1rem;
    margin-top: 3vw;
    margin-bottom: 3vw;
  }

  .col-1 {
    flex-basis: 30px;
    border-radius: 10px;
    margin-top: 3vh;
  }

  .col-2,
  .col-3 {
    gap: 1rem;
    display: flex;
  }

  .col-3 {
    border-radius: 10px;
    margin-bottom: 3vh;
  }

.col-1,
.col-2-1,
.col-2-2,
.col-3-1,
.col-3-3 {
  background-color: #F5F1E3;
  color: #050505;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

    
  .col-2-1 {
    flex: 6;
  }

  .col-2-2 {
    background-color: #1B9AAA;
    flex: 4;
  }


  .col-3-1 {
    text-align: center;
    flex: 6;
  }

  .col-3-3 {
    align-items: top;
    text-align: center;
    flex: 4;
  }

  .type-output {
    text-align: left;
    font-size: 1.2rem;
    font-weight: 700;
  }
  

  .col-4 {
    text-align: center;
    flex: 1;
    color: #8d896e;
  }

  .arrow {
    transform: rotate(0deg);
    transition: transform 0.3s;
  }

  .arrow.rotate {
    display: inline-block;
    transform: rotate(90deg);
    transition: transform 0.3s;
  }

  .list-parent {
    margin-bottom: 1rem;
  }
  
.list-content{
  max-width: 90vw;
  font-size: 0.8rem;
  max-height: 0;
  text-align: left;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  background-color: #e6e4d6;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 0px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* 추가된 부분 */
}

.list-title {
  font-weight: 700  ;
  font-size: 1.2rem;
  background-color: #DDDBCB;
  border-radius: 8px;
  margin-bottom: 0;
  margin-top: 1rem;
  padding: 1rem;
  max-width: 90vw;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
}


