body {
    font-family: 'NanumSquare', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: #FFFFFF;
    font-weight: 700;
  }

  .normal		{ font-weight: 700 }
  .bold		    { font-weight: 700 }
  .bolder		{ font-weight: 800 }
  .light		{ font-weight: 300 }

  .text01 {
    font-size: 1.0rem;
    font-weight: 700;
    color: red;
  }

  /* 글자크기 일반 */

  .no-spacing {
    margin: 0;
    line-height: 1;
  }

  
h1 {
    font-size: 2.2rem;
    font-weight: 900;
  }

h2 {
    font-size: 1.8rem;
    font-weight: 900;
  }
  
  h3 {
    font-size: 1.6rem;
  }
  
  h4 {
    font-size: 1.4rem;
  }
  
  h5 {
    font-size: 1.2rem;
  }
  
  h6 {
    font-size: 1.0rem;
  }
  

  #caution {
    font-size: 2.0rem;
    font-weight: 900;
  }

  /* 767px 이하 */
  @media screen and (max-width: 767px) {
    h1 {
        font-size: 2rem;
        font-weight: 900;
      }
    
    h2 {
      font-size: 1.8rem;
      font-weight: 900;
    }
  
    h3 {
      font-size: 1.6rem;
    }
  
    h4 {
      font-size: 1.4rem;
    }
  
    h5 {
      font-size: 1.2rem;
    }
  
    h6 {
      font-size: 1rem;
    }
  }
  
  /* 479px 이하 */
  @media screen and (max-width: 479px) {


    #notice_white{
      font-size: 0.7rem;
      color:rgb(255, 255, 255);
    }
    
    #notice_red {
      font-size: 1.2rem;
      color:rgb(255, 0, 0);
    }

    #notice_mint,
    #notice_mint:link,
    #notice_mint:visited,
    #notice_mint:hover,
    #notice_mint:active
     {
      font-size: 1.0rem;
      color:rgb(0, 255, 225);
    }


  #caution {
    font-size: 1.4rem;
    font-weight: 900;
  }

    .col-3 {
      display: flex;
      flex-direction: column !important;
  }

  .col-3-1 {
    text-align: center;
    order: 2 !important;
  }

  .col-3-3 {
    order: 1 !important;
  }

    
    h1 {
        font-size: 1.8rem;
        font-weight: 900;
      }
    
    h2 {
      font-size: 1.4rem;
      font-weight: 900;
    }
  
    h3 {
      font-size: 1.2rem;
    }
  
    h4 {
      font-size: 1.0rem;
    }
  
    h5 {
      font-size: 0.8rem;
    }
  
    h6 {
      font-size: 0.6rem;
    }
    
  

  }

  

  
  @media screen and (max-width: 768px) {
    .col-2,
    .col-3 {
      flex-direction: column;
    }
  
  }


.li {
    font-size: 1.3rem;
}



.total-output-title,
.total-output {
  display: inline;
  margin: 0;
  line-height: 1;
  font-size: 1.4rem;
  font-weight: 900;
}
.report-data-time-notice,
.report-data-time-output {
  display: inline;
  font-size: 1.0rem;
  font-weight: 700;
  color: #1B9AAA;
  line-height: 1;
  margin: 0;
}

#classlist {
    font-size: 1.6rem;
  }

.container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    max-width: 1200px;
    text-align: center;
    height: 98%;
    gap: 1rem;
    margin-top: 1vw;
    margin-bottom: 1vw;
    filter: blur(10px)
  }

  .col-1 {
    flex-basis: 30px;
    border-radius: 10px;
    margin-top: 1vh;
  }

  .col-2,
  .col-3 {
    gap: 1rem;
    display: flex;
  }

  .col-3 {
    border-radius: 10px;
    margin-bottom: 1vh;
  }

.col-1,
.col-2-1,
.col-2-2,
.col-2-3,
.col-3-1,
.col-3-3 {
  background-color: #f9f8f4;
  color: #050505;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

    
  .col-2-1 {
    background-color: #f9e000;
    flex: 5;
    padding: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 8vh;
  }

  .col-2-2 {
    background-color: #a5a5a5;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10;
    flex: 3;
    max-height: 8vh;
  }

  .col-2-3 {
    background-color: #1B9AAA;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10;
    flex: 5;
    max-height: 8vh;
  }




  .col-3-1 {
    text-align: center;
    flex: 5;
    order: 1
  }

  .col-3-3 {
    align-items: top;
    text-align: center;
    flex: 5;
    order: 2
  }

  .type-output {
    text-align: left;
    font-size: 1.2rem;
    font-weight: 700;
  }
  

  .col-4 {
    text-align: center;
    flex: 1;
    color: #8d896e;
  }

  .arrow {
    transform: rotate(0deg);
    transition: transform 0.3s;
  }

  .arrow.rotate {
    display: inline-block;
    transform: rotate(90deg);
    transition: transform 0.3s;
  }

  .list-parent {
    margin-bottom: 1rem;
  }
  
.list-content{
  max-width: 90vw;
  font-size: 0.8rem;
  max-height: 0;
  text-align: left;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  background-color: #f9f8f4;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 0px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* 추가된 부분 */
}

.list-title {
  font-weight: 700  ;
  font-size: 1.2rem;
  background-color: #f5f4ed;
  border-radius: 8px;
  margin-bottom: 0;
  margin-top: 1rem;
  padding: 1rem;
  max-width: 90vw;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
}


.popup-wrapper {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  }


.popup-container {
  position: fixed;  /* fixed positioning */
  top: 50%;        /* centers vertically */
  left: 50%;       /* centers horizontally */
  width: 80vw;
  max-width: 500px;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 30px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  font-size: 0.8rem;
  border-radius: 8px;
  transform: translate(-50%, -50%);  /* adjusts the positioning so it's truly centered */

}

#notice_white{
  font-size:1.1rem;
  color:rgb(255, 255, 255);
  letter-spacing: -0.05em;
  word-break: keep-all;
  text-align: center;
}

#notice_white2{
  font-size:0.8rem;
  color:rgb(255, 255, 255);
  letter-spacing: -0.05em;
}

#notice_red{
  font-size:2.0rem;
  font-weight: 900;
  text-align: center;
  color:rgb(255, 0, 0);
  letter-spacing: -0.05em;
}

#notice_mint,
#notice_mint:link,
#notice_mint:visited,
#notice_mint:hover,
#notice_mint:active {
  font-size:1.2rem;
  color:rgb(0, 255, 225);
  letter-spacing: -0.05em;
}

#notice_yellow {
  font-size:1.5rem;
  color:rgb(255, 242, 0);
  font-weight: 900;
  letter-spacing: -0.05em;
}
#popuptitle1 {
  font-size: 1.2rem;
  font-weight: 700;
}
.notice {
  font-weight: 900;
  text-align: center;

}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

.dont-show-btn {
  display: block;
  margin: 20px auto 0;
  cursor: pointer;
  text-align: center; /* 추가 */
  padding: 5px 15px; /* 추가 */
  border: 1px solid #ccc; /* 추가 */
  background-color: #f9f9f9; /* 추가 */
  transition: background-color 0.3s; /* 추가 */
}

.dont-show-btn:hover {
  background-color: #e9e9e9; /* 추가 */
}


.textimg {
  display: inline;
  height: 20px;
  padding: 0;
  margin: 0;
}


#search-results {
  padding: 0;
  list-style-type: none;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700  ;
  font-size: 1.0rem;
  background-color: #eeede5;;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.search-in {
  margin-top:10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#search-results {
  padding: 0px;
  display: none;
  font-size: 1.0rem;
  margin: 3px;
  text-align: left;
}

#search-box {
  border-radius: 0px;
  font-family: 'NanumSquare', sans-serif;
  margin-right: 10px;
  width: 50%;
  border-color: transparent; 
  font-weight: 700;
  background-color: transparent;
  border-bottom: 1px solid-black;
  outline: none;
  text-align: center;
  border-color: rgb(0, 0, 0); /* 포커스되면 밑줄 색을 검정색으로 유지 */
  border-top: none; /* 상단, 좌측, 우측 테두리를 제거 */
  border-left: none;
  border-right: none;
  box-shadow: none; /* 외곽선이 남아있는 경우엔 box-shadow를 제거 */
}

#search-box:focus {
  border-color: rgb(0, 0, 0); /* 포커스되면 밑줄 색을 검정색으로 유지 */
  border-top: none; /* 상단, 좌측, 우측 테두리를 제거 */
  border-left: none;
  border-right: none;
  box-shadow: none; /* 외곽선이 남아있는 경우엔 box-shadow를 제거 */
}

#search-btn {
  font-family: 'NanumSquare', sans-serif;
  box-shadow: none;
  border-width: 0px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: rgb(209, 209, 209);
  color: black;
  font-weight: 900;
}

.school-data-output {
  font-size: 1.4rem;
  font-weight: 700;
}

